:root {
    font-family: 'Roboto Condensed', sans-serif;
}
* {
    padding:0;
    margin:0;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.section-title {
    font-size: 60px;
}
/* header/nav start */
header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin:0;
}
header h1 {
    font-size:40px;
    margin:0;
    padding-left: 10px;
}
header h1 a {
    text-decoration:none;
    color:green;
    transition-duration:0.5s;
    transition-delay: 0.25s;
}
header h1 a:hover {
    color: white;
}
header nav{
    margin: auto 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    transition-duration:0.5s;
    transition-delay: 0.25s;
}
header nav ul a:hover {
    
    color:green;
}
/* header/nav end */

/* hero start */
.hero{
    background-image: url("../assets/images/chopper-jump.jpg");
    background-size: cover;
    background-position:center;
    display: flex;
    flex-wrap: wrap;
}
.intro {
    padding: 20px;
    margin: 17.5% 10.5%;
    border-radius: 10px;
    color: white;
}
.intro h2 {
    font-size: 3.2em;
}
.intro p {
    font-size: 2.7em;
}
/* hero end */

/* my work start */
.my-work {
    margin-bottom: 20px;
}
.my-work .section-title {
    /* text-align: center; */
    color: green;
}
/* .my-work .section-title:after {
    content:"";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 20px;
    border-bottom:solid 4px rgba(33, 131, 3, 0.3);

} */
.project-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top: 20px;
    /* height: 700px; */
    
}
.project {
    text-align: center;
    margin:0 auto;
}
.project img {
    width: 300px;
    height: 300px;
    border-radius:10px;
    transition-duration: .5s;
    transition-delay: .25s;
}
.project img:hover {
    width:400px;
    height:400px;
    padding-bottom:15px;
}
.project p {
    color: green;
    font-size: 20px;
}

/* my work end */

/* about me start */
.about-me {
    background: black;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .section-title {
    color: white;
}
.about-me img {
    padding-right: 100px;
}
.about-me-info {
    color: white;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin: 0 auto;
}

.about-me-info p {
    width:300px;
    height:500px;
    padding:5px;
    font-size:20px;
}
/* about me end */

/* connect start */


.connect {
    background: linear-gradient(50deg, darkgray,black);
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    color: white;
}

.connect .section-title {
    padding-right: 200px;
}
.connect-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    justify-content:space-evenly;
    height: 300px;
}
.connect-links a {
    font-size:20px;
    text-decoration: none;
    color: white;
    transition-duration:0.5s;
    transition-delay: 0.25s;
}
.connect-links a:hover {
    color: green;
    font-size: 30px;
    padding-bottom: 2px;
}
/* connect end */

/* footer start */
footer {
    background: black;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

/* footer end */

/* media queries */

@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 915px) {
    .about-me { 
        height: 120%;
        align-items: center;
    }
    .about-me .section-title {
        text-align: center;
        margin: 0 auto;
    }
    .about-me img {
        align-items: center;
        padding-right: 10px;
        height: 407px;
        width: 304.5px;
        margin: 0 auto;
    }
    .about-me-info p {
        padding:5px;
        height: 100%;
        margin: 0 auto;
    }
    .connect {
        padding: 50px 0;
    }
}

@media screen and (max-width:768px) {
    .about-me { 
        align-items:center;
        height: 140%;
    }
    .connect .section-title {
        padding-right: 5px;
    }
    .about-me-info p {
        padding:0;
        text-align: justify;
        width: 100%
    }
}

@media screen and (max-width:575px) {
    .intro h2 {
        font-size: 2.2em;
    }
    .intro p {
        font-size: 1.7em;
    }
    .about-me {
        align-items: center;
        height: 120%
    }
}

@media screen and (max-width:370px) {
    header h1 {
        font-size:4em;
        margin:0;
        padding: 0;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    header nav ul li a {
        font-size: 1.2em;
    }
    .project img {
        width: 250px;
        height: 250px;
    }
    .about-me {
        align-items: center;
        height: 140%
    }
    .about-me img {
        padding-right: 0;
        height: 307px;
        width: 204.5px;
    }
    .about-me-info p {
        text-align:justify;
    }
    .connect {
        padding: 5px;
    }
    footer {
        flex-direction:column;
        align-items: center;
    }
}